.body {
  font-family: 'Inter', Arial, sans-serif;
  background-image: url(../../images/full-bloom.png);
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto minmax(320px, 1280px) auto;
  grid-template-rows: 60px 40px auto 100px;
  grid-template-areas: 
    ". header ."
    ". title ."
    ". main ."
    ". footer .";

}

.body::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background-color: #666;
  height: 60px;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0,0,0, .8);
}

/* .body {
  font-family: 'Inter', 'Helvetika', 'Arial', serif;
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
   grid-template-columns: 48px calc(100% - 48px); 
  grid-template-rows:  58px 24px auto 108px 58px;
  grid-template-areas:
    "header"
    "title"
    "main"
    "footer"
    "navigation";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .body>* {
  outline: 1px solid red;
} 

@media (min-width : 1024px) {
  .body {
    grid-template-columns: auto minmax(1024px, 1280px) auto;
    grid-template-rows:  95px 0 32px auto 108px;
    grid-template-areas:
    ". header ."
    ". navigation ."
    ". title ."
    ". main ."
    "footer footer footer";
  }
} */