.header__logo {
  grid-area: logo;
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(../../../images/logo.svg);
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width : 1024px) {
  .header__logo {
    width: 60px;
    height: 60px;
    background-size: 36px 36px;
  }
}


/* .header__logo {
  grid-area: logo;
  width: 150px;
  min-height: 50px;
  background: url(../../../images/logo-small.svg) center center no-repeat;
  background-size: cover;
  display: block;
}
@media (min-width : 1024px) {
  .header__logo {
    min-height: 90px;
    background: url(../../../images/logo.svg) center center no-repeat;
  }
} */