.header__logo {
  grid-area: logo;
  width: 48px;
  height: 48px;
  display: block;
  align-self: center;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

/* .header__logo {
  grid-area: logo;
  width: 150px;
  min-height: 50px;
  background: url(../../../images/logo-small.svg) center center no-repeat;
  background-size: cover;
  display: block;
}
@media (min-width : 1024px) {
  .header__logo {
    min-height: 90px;
    background: url(../../../images/logo.svg) center center no-repeat;
  }
} */