.header {
  grid-area: header;
  height: 60px;
  display: grid;
  grid-template-areas: "logo . navigation search . user";
  grid-template-columns:  48px 48px auto minmax(300px, 500px) 48px 100px;
}

/* .header {
  grid-area: header;
  display: grid;
  padding: 4px;
  grid-template-columns: 150px  auto 50px 100px;
  grid-template-rows: 50px;
  grid-template-areas: "logo . search user";
}

@media (min-width : 1024px) {
  .header {
    grid-template-columns: 150px  minmax(380px, 780px) 200px auto 200px;
    grid-template-areas: "logo search . user .";
  }
} */