.menu__link {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 58px;
  align-items: center;
  padding: 5px 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

.menu__link::before {
  height: 32px;
  width: 32px;
  content: '';
  background-image: url(../../../images/svg/menu-round.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: .5;
  margin-bottom: 2px;
}

@media (min-width : 1024px) {
  .menu__link {
    min-height: 32px;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
  }
  .menu__link::before {
    height: 0;
    width: 0;
    content: '';
    background-image: none;
  }
}