.navigation {
  grid-area: navigation;
  box-shadow: 0 -2px 5px rgba(0,0,0, .1);

}

@media (min-width : 1024px) {
  .navigation {
    width: calc(100% - 170px);
    margin: -32px 0 0 170px;
    max-height: 32px;
    box-shadow: none;
  }
}